.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.body{
  background: #1A1A1A;
  font-family: Inter;
  color: white
}

.delete{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete:hover{
  background-color: rgba(51, 51, 51, 1);
  color: #E25858;
}

.select{
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select:hover{
  opacity: 0.6;
}

.p{
  color: rgba(128, 128, 128, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 22.4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoRocket{
  background-color: #0D0D0D;
  color: #4EA8DE;
  font-size: 40px;
  font-weight: 900;
  padding: 72px 0 80px;
  display: flex;
  justify-content: center;
  position: relative;
}

.imageRocket{
  margin-top: 10px;
  margin-right: 12px;
}

.divInputButton{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 25%;
  transform: translateX(-1%);
}

.input{
  padding: 16px;
  background: #262626;
  color: white;
  border-radius: 8px;
  border: none;
  width: 638px;
}
.input:focus{
  outline: none;
  color: white;
  border: 1px solid rgba(94, 96, 206, 1);
}
.input:hover{
  border: 1px solid rgba(94, 96, 206, 1);
}

.button{
  background: rgba(30, 111, 159, 1);
  color: white;
  border-radius: 8px;
  border: none;
  width: 90px;
  padding: 16px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.button:hover{
  background-color: #4EA8DE;
}
.button:active{
  opacity: 0.8;
}

.ol{
  list-style: none;
}

.task{
  color: #4EA8DE;
  width: 736px;
  margin: 91px auto 0;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.span1{
  display: flex;
  gap: 8px;
}

.span2{
  background: rgba(51, 51, 51, 1);
  color: white;
  width: 25px;
  height: 19px;
  font-size: 12px;
  border-radius: 885px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span2WithConstent{
  background: rgba(51, 51, 51, 1);
  color: white;
  width: 52px;
  height: 19px;
  font-size: 12px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.spanConcluidas{
  display: flex;
  gap: 8px;
  color: #5E60CE;
  margin-left: auto;
}

.li{
  background: rgba(38, 38, 38, 1);
  height: 72px;
  padding: 16px 0;
  border-radius: 8px;
  border: 1px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.clipboard{
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-top: 1px solid rgba(51, 51, 51, 1);
  border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
